/node_modules
/vendor
npm-debug.log
yarn-error.log
/storage/*.key
/storage/log
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
**/.DS_Store
public/.DS_Store
.tmp/
.DS_Store
*.code-workspace
public/dashboard/img/author/profile
public/storage
public/mix-manifest.json
public/css/app.css
public/css/asset.css
public/js/app.js
public/js/resources_js_components_item_menuCollapse_vue.js
.vscode/settings.json
public/imagePublic/
composer.lock
.htaccess
.user.ini
.error_log
php.ini
